@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC|Fredoka+One&display=swap");
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  font-family: 'Spartan';
}

.masthead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 5rem;
  padding-right: 5rem;
  padding-left: 3rem;
  background-position: fixed;
  padding-bottom: 5rem;
  font-family: "Bowlby One SC";
}

.masthead .item {
  width: 50%;
  height: 94%;
  position: relative;
  text-align: center;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.masthead .item1 {
  margin-left: 2%;
  margin-top: 2%;
  position: relative;
  text-align: center;
  color: white;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.masthead .imgHeader {
  width: 100%;
}

.navbar {
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 10px;
}

.imgLogo {
  height: 80px !important;
  width: 400px;
}

.vl {
  border-left: 2px solid #b7234b;
}

.nav-item .fab {
  font-size: 35px;
  color: #b7234b;
}

.item:hover {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bolder;
}

.alertDiv {
  text-align: center;
  height: 500px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  opacity: 0.8;
  font-family: "Bowlby One SC";
}

.alertDiv .fab {
  color: #009cde;
  font-size: 100px;
}

.popust {
  font-size: 80px;
  opacity: 0.8;
  color: #b7234b;
  font-family: "Bowlby One SC";
}

.proizvodi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.navbar-brand {
  font-family: "Bowlby One SC";
  font-size: 25px;
}

.proizvodr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.proizvod1 {
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}

.proizvod1 .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bolder;
  color: white;
  font-family: "Bowlby One SC";
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  opacity: 0.8;
}

.itemF {
  width: 33.3%;
}

.vl {
  opacity: 0.5;
}

.t .fab {
  font-size: 50px;
  margin: 10px;
}

.navlog {
  color: #b7234b !important;
}

.nav-link {
  font-size: 25px;
}

.nav-link a {
  font-size: 25px;
}

.nav-link .fas {
  font-size: 25px;
  color: #b7234b;
  opacity: 0.5;
}

.footerM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
  background-color: black;
  opacity: 0.8;
}

.footerM .far {
  color: #b7234b;
}
/*# sourceMappingURL=style.css.map */